{% extends 'email.base.html.j2' %}

{% block title %}Cambio de estado{% endblock %}

{% block content %}
<div style="margin:0px auto;max-width:600px;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
    <tbody>
      <!-- Notificación principal -->
      <tr>
        <td style="padding:10px 25px;text-align:center;">
          <div style="font-family:Roboto, Helvetica, sans-serif; 
                      font-size:16px; font-weight:300; line-height:24px; 
                      color:#616161;">
            <p>Tienes una notificación del Sistema Integrado de Gestión Administrativa: 
               Tu solicitud tiene una nueva actualización.</p>
          </div>
        </td>
      </tr>
      
      <!-- Detalles de la actualización -->
      <tr>
        <td style="padding:10px 25px;text-align:left;">
          <div style="font-family:Roboto, Helvetica, sans-serif; font-size:16px; 
                      font-weight:300; line-height:24px; 
                      color:#616161;">
            <p>A su solicitud se le asignó un nuevo estado con la siguiente observación:</p>
            <p></p> <!-- Espacio para observación dinámica -->
            <p>Para ver los detalles, consulta el siguiente enlace:</p>
          </div>
        </td>
      </tr>

      <!-- Botón de enlace -->
      <tr>
        <td style="padding:15px 30px;text-align:center;">
          <a href="{{ Enlace }}" 
             style="display:inline-block;background:#ffae00;
                    color:#FFFFFF;font-family:Helvetica;
                    font-size:14px;font-weight:bold;
                    line-height:120%;text-decoration:none;
                    border-radius:10px;padding:10px 25px;">
            Ver detalles en SIGA
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
