<!doctype html>
<html lang="es">
<head>
  <!-- Bloque para el título de la página, puede ser sobrescrito en plantillas que extiendan esta base -->
  <title> {% block title %}{% endblock %} </title>

  <!-- Compatibilidad con IE -->
  <!--[if !mso]><!-->
  <title>{% block title %}{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Estilos CSS para el correo electrónico -->
  <style type="text/css">
    body, table, td, p { margin: 0; padding: 0; }
    body { background-color: #FDFEFE; word-spacing: normal; }
    table { border-collapse: collapse; }
    img { border: 0; height: auto; line-height: 100%; text-decoration: none; -ms-interpolation-mode: bicubic; }
    p { display: block; margin: 13px 0; }
    .mj-column { display: inline-block; vertical-align: top; text-align: left; }
    @media only screen and (max-width:480px) {
      .mj-column-per-100 { width: 100% !important; }
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,500|Ubuntu:300,400,500,700" rel="stylesheet">
</head>
<body>
<div style="max-width:600px; margin:0 auto;">
  <!-- Encabezado -->
  <div class="mj-column mj-column-per-40" style="width: 100%; text-align:center; padding: 20px;">
    <div style="font-family:Helvetica; font-size:20px; font-weight:300; color:#1E8449;">FCEN UdeA</div>
  </div>

  <!-- Título Principal -->
  <div style="background:#1E8449; color:#FFFFFF; text-align:center; padding:20px 25px;">
    <a href="https://www.siga.udea.edu.co" style="font-family:Ubuntu, sans-serif; font-size:40px; font-weight:300; text-decoration:none; color:#FFFFFF;">
      <strong>SIGA UdeA</strong>
    </a>
  </div>

  <!-- Contenido dinámico -->
  {% block content %}
  {% endblock content %}

  <!-- Línea divisoria -->
  <div style="border-top:solid 2px #17202A; width:100%; margin:10px 0;"></div>

  <!-- Pie de página -->
  <div style="font-family:Roboto, sans-serif; font-size:16px; font-weight:300; color:#616161; text-align:center;">
    SIGA por Equipo de desarrollo FCEN.
  </div>
</div>
</body>
</html>
